/LuciusMalfoy/.idea/artifacts/LuciusMalfoy_jar.xml
/LuciusMalfoy/.idea/inspectionProfiles/Project_Default.xml
/LuciusMalfoy/.idea/.gitignore
/LuciusMalfoy/.idea/dataSources.xml
/LuciusMalfoy/.idea/discord.xml
/LuciusMalfoy/.idea/misc.xml
/LuciusMalfoy/.idea/modules.xml
/LuciusMalfoy/.idea/sqldialects.xml
/LuciusMalfoy/.idea/uiDesigner.xml
/LuciusMalfoy/.idea/vcs.xml
/LuciusMalfoy/lib/JDA-5.0.0-beta.13-withDependencies.jar
/LuciusMalfoy/lib/log4j-api-2.20.0.jar
/LuciusMalfoy/lib/log4j-core-2.20.0.jar
/LuciusMalfoy/lib/log4j-slf4j-impl-2.20.0.jar
/LuciusMalfoy/lib/sqlite-jdbc-3.43.0.0.jar
/LuciusMalfoy/src/app/commands/mannagers/MessageReceived.java
/LuciusMalfoy/src/app/commands/mannagers/SlashCommand.java
/LuciusMalfoy/src/app/commands/prefixCommands/embeds/AccesMinecraft.java
/LuciusMalfoy/src/app/commands/prefixCommands/embeds/VerificacaoInstagram.java
/LuciusMalfoy/src/app/commands/prefixCommands/embeds/VerificationEmbed.java
/LuciusMalfoy/src/app/commands/prefixCommands/misc/Afk.java
/LuciusMalfoy/src/app/commands/prefixCommands/misc/Roleta.java
/LuciusMalfoy/src/app/commands/prefixCommands/misc/Soco.java
/LuciusMalfoy/src/app/commands/prefixCommands/misc/Tempo.java
/LuciusMalfoy/src/app/commands/prefixCommands/misc/UserInfo.java
/LuciusMalfoy/src/app/commands/prefixCommands/mod/ban/Ban.java
/LuciusMalfoy/src/app/commands/prefixCommands/mod/ban/GifBan.java
/LuciusMalfoy/src/app/commands/prefixCommands/mod/ban/UnBan.java
/LuciusMalfoy/src/app/commands/prefixCommands/mod/cargos/AddCargo.java
/LuciusMalfoy/src/app/commands/prefixCommands/mod/cargos/Cargo.java
/LuciusMalfoy/src/app/commands/prefixCommands/mod/cargos/RemoveCargo.java
/LuciusMalfoy/src/app/commands/prefixCommands/mod/social/TicketVerificacao.java
/LuciusMalfoy/src/app/commands/prefixCommands/mod/social/Verificar.java
/LuciusMalfoy/src/app/commands/prefixCommands/mod/Clear.java
/LuciusMalfoy/src/app/commands/prefixCommands/vips/Addvip.java
/LuciusMalfoy/src/app/commands/prefixCommands/vips/CallView.java
/LuciusMalfoy/src/app/commands/prefixCommands/vips/RemoveVip.java
/LuciusMalfoy/src/app/commands/prefixCommands/vips/Vip.java
/LuciusMalfoy/src/app/commands/slash/guild/AddEmoji.java
/LuciusMalfoy/src/app/commands/slash/guild/EmbedCreator.java
/LuciusMalfoy/src/app/commands/slash/misc/Boosters.java
/LuciusMalfoy/src/app/commands/slash/misc/EmojiInfo.java
/LuciusMalfoy/src/app/commands/slash/misc/Ping.java
/LuciusMalfoy/src/app/commands/slash/misc/Sorteio.java
/LuciusMalfoy/src/app/commands/slash/misc/SorteioRunnable.java
/LuciusMalfoy/src/app/events/bot/Buttons/Minecraft.java
/LuciusMalfoy/src/app/events/bot/OnGuildReady.java
/LuciusMalfoy/src/app/events/bot/OnReady.java
/LuciusMalfoy/src/app/events/functions/social/Instagram.java
/LuciusMalfoy/src/app/events/functions/AutoClear.java
/LuciusMalfoy/src/app/events/functions/CriarCall.java
/LuciusMalfoy/src/app/events/guild/MemberJoin.java
/LuciusMalfoy/src/app/events/guild/Verificacao.java
/LuciusMalfoy/src/app/events/guild/VoiceJoin.java
/LuciusMalfoy/src/app/events/guild/VoiceLeft.java
/LuciusMalfoy/src/app/events/guild/VoiceMove.java
/LuciusMalfoy/src/app/events/Mannager.java
/LuciusMalfoy/src/app/protecoes/ActionCounter.java
/LuciusMalfoy/src/app/protecoes/BanNoDedo.java
/LuciusMalfoy/src/app/protecoes/Cargos.java
/LuciusMalfoy/src/app/protecoes/UrlSaver.java
/LuciusMalfoy/src/app/statics/canais/Entrada.java
/LuciusMalfoy/src/app/statics/canais/Geral.java
/LuciusMalfoy/src/app/statics/canais/Logs.java
/LuciusMalfoy/src/app/statics/canais/Sociais.java
/LuciusMalfoy/src/app/statics/cargos/Funcionais.java
/LuciusMalfoy/src/app/statics/cargos/Hierarquia.java
/LuciusMalfoy/src/app/statics/cargos/Perms.java
/LuciusMalfoy/src/app/statics/external/ColorPalette.java
/LuciusMalfoy/src/app/statics/users/Pessoas.java
/LuciusMalfoy/src/app/statics/Basics.java
/LuciusMalfoy/src/app/statics/Functions.java
/LuciusMalfoy/src/app/App.java
/LuciusMalfoy/src/db/create/Create.java
/LuciusMalfoy/src/db/read/Read.java
/LuciusMalfoy/src/db/update/Update.java
/LuciusMalfoy/src/db/DataBaseConnection.java
/LuciusMalfoy/src/META-INF/MANIFEST.MF
/LuciusMalfoy/.gitignore
/LuciusMalfoy/Lucius.db
/LuciusMalfoy/LuciusMalfoy.iml
/LuciusMalfoy/tempo344214477069221888.txt
/LuciusMalfoy/tempor344214477069221888.txt
/LuciusMalfoy/verificados.txt
/POO/.idea/.gitignore
/POO/.idea/discord.xml
/POO/.idea/misc.xml
/POO/.idea/modules.xml
/POO/.idea/uiDesigner.xml
/POO/.idea/vcs.xml
/POO/src/itens/FabricaItens.java
/POO/src/itens/Item.java
/POO/src/itens/ItemComum.java
/POO/src/itens/ItemRaro.java
/POO/src/itens/Personagem.java
/POO/src/Main.java
/POO/.gitignore
/POO/POO.iml
/IntegradorDB/
